---
title: Call for RSE Lightning Talks
layout: page
mytype: RSE
---

<br>
<div class="row mt-2">
    <div class="col text-justify conference-text">
        <p id="papers" class="lead">Call for Research Software Engineering Lightning Talks</p>
        <h6 id="overview">Overview</h6>
    </div>
</div>

<div class="row mt-2">
    <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6 col-xl-6 text-justify conference-text">
        <p>
            The 35th ACM International Symposium on High-Performance Parallel and Distributed Computing (HPDC)
            will include a session featuring Research Software Engineering (RSE) for clouds, clusters, grids,
            big data, massively multicore, and extreme-scale computing systems.

            <br><br>

            We welcome lightning talk submissions of 2-page extended abstracts on the wide range of software
            developed for and by the HPDC community. The topics of interest focus on the software frameworks,
            development tools and RSE best practices for software projects in support of conference topics
            including but not limited to:
        </p>

        <ul>
            <li>Cloud, Cluster, and Edge computing, Continuum platforms</li>
            <li>Big data</li>
            <li>Massively multicore systems</li>
            <li>AI for systems</li>
            <li>Systems for AI</li>
            <li>Distributed computing</li>
            <li>Hybrid memory systems</li>
            <li>Disaggregated storage, accelerators, and memory systems</li>
            <li>Quantum computing and data management</li>
            <li>Extreme-scale computing systems</li>
            <li>Distributed Storage Systems</li>
            <li>Performance Monitoring, Measurement, and Analysis</li>
            <li>Power-aware systems</li>
        </ul>

        <p>
            Poster presentations will be held on one of the conference days between 14 and 16 July.
        </p>
    </div>

    <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6 col-xl-6 conference-text">
        {% include card-important-dates.html %}
        {% include card-calls-back.html %}
        {% include card-rse-inner.html %}
    </div>
</div>

<div class="row mt-2">
    <div class="col text-justify conference-text">

        <br>
        <h6 id="submission">RSE Lightning Talk Submission Guidelines</h6>
        <p>
            We invite authors to submit poster contributions in the form of a two-page extended abstract and
            a poster draft. Abstracts shall be submitted via the lightning talk submission website and should
            be formatted in the <strong>ACM Proceedings Style</strong> (for LaTeX, use
            <code>\documentclass[sigconf]{acmart}</code>; for MS Word use the template provided by
            <a href="https://www.acm.org/publications/proceedings-template" target="_blank">ACM here</a>).
        </p>
        <p>
            Each submission should include a title, all author names and affiliations, notes on whether any
            of the authors are students, and an indication of which author is corresponding/presenting the
            material. Lightning talk abstracts will be reviewed by the RSE program committee through a
            <strong>single-blind</strong> process and will be evaluated based on the following criteria:
        </p>

        <ol>
            <li>Submissions must describe research software engineering projects, best practices or software
                products related to HPDC topics of interest.</li>
            <li>Submissions can present work in progress, but authors are strongly encouraged to include
                preliminary results, software artifacts or links to public repositories as appropriate.</li>
            <li>Student submissions meeting the above criteria will be given preference.</li>
        </ol>

        <br>
        <p>
            Please submit your extended abstract <a href="#">here (link TBD)</a>. You can also reach the
            submission site by clicking on the blue submit button below.
        </p>


        <br><br>
        <h6 id="deadlines">Key Dates</h6>
        <p>
            Lightning Talk Submission Deadline: May 1, 2026<br>
            Notification of Acceptance (Lightning Talk): May 24, 2026
        </p>

        <h6><a href="./calls.html">Go back to Calls</a></h6>
    </div>
</div>
