---
title: Call for Nomination
layout: page
mytype: CFN
---

<br>
<div class="row mt-2">
    <div class="col text-justify conference-text">
        <p id=papers class="lead">Call For Nominations: HPDC 2025 Achievement Award</p>
        <h6>Overview</h6>
    </div>
</div>


<div class="row mt-2">
    <div class="col text-justify conference-text">

        <p>The HPDC Annual Achievement Award, established in 2012, is presented to an individual who has made long-lasting, influential contributions to the foundations or practice of the field of high-performance parallel and distributed computing (HPDC). These contributions may include one or more of the following: 
        </p>

        <ul>
            <li>Conceptual advances that have influenced the design or operation of HPDC systems or applications;</li>
            <li>Innovative techniques or tools for the design or analysis of HPDC systems or applications;</li>
            <li>Design, implementation, and deployment of innovative (components of) HPDC systems or applications;</li>
            <li>Analysis of innovative (components of) HPDC systems or applications.</li>
        </ul>

        <p>In selecting the achievement award recipient, the Award Selection Committee will place particular emphasis on
            seminal contributions and a sustained record of high-impact in the field.
        </p>
    </div>
    <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6 col-xl-6 conference-text">
        {% include card-important-dates.html %}
        {% include card-calls-back.html %}
    </div>
</div>

<div class="row mt-2">
    <div class="col text-justify conference-text">
        <h6 id="talk">Achievement Award Talk</h6>

        <p> <!--The award will be presented at the 34th International Symposium on High-Performance Parallel and Distributed
            Computing in Notre Dame, IN, USA, July 20 - July 23, 2025.-->
            The winner of the HPDC Annual Achievement Award must be available to receive the award in-person at the HPDC 2025 conference to be held in Notre Dame, IN, USA from July 20-23, and present an achievement award talk at the conference.        </p>
        <br>


<h6 id="nominations">Nomination Guidelines</h6>
        <p>
        Candidates may nominate a colleague by uploading a letter of nomination as a PDF file to <a href="http://hpdc2025award.hotcrp.com">http://hpdc2025award.hotcrp.com</a>. The letter of nomination should be about one page and contain:
        </p>
        <ol>
            <li>The nominee's current <b>professional affiliation(s)</b>.</li>
            <li>A brief <b>citation</b> (thirty words or less) precisely stating the most salient reason(s) why the
                nominee is qualified for the award.
            </li>
            <li>A description of the <b>technical contributions</b> of the nominee and their significance and impact.
            </li>
        </ol>
        <p>Each nomination received will be retained and considered by the committee for three consecutive years. Self-nominations will not be accepted. </p>
        <br>

        <h6 id="deadline">Important Dates</h6>
        <p>Nomination deadline: Friday, Febuary 28, 2025, 11:59 AOE.</p>
        <br>

        
        <h6>Award Selection Committee</h6>
        <ul>
            <li>Laxmikant (Sanjay) Kale</li>
            <li>Manish Parashar</li>
            <li>Douglas Thain</li>
            <li>Jarek Nabrzyski</li>
            <li>Devesh Tiwari</li>
        </ul>

        <p>The award selection committee is chaired by a member of the HPDC steering committee and includes the General
            Chair(s) and the Program Committee Chair(s) of the current HPDC conference, and the previous year's award
            winner. An award committee member cannot be a nominator or be selected as the winner.
        </p>
        <br>

        <h6>Past Winners</h6>
        <ul>
            <li><b>2024: </b><i>Laxmikant (Sanjay) Kale</i>, for pioneering development of task-based adaptive parallel programming models and runtime systems, leading to a new category of highly scalable scientific applications.
            <li><b>2023: </b><i>Manish Parashar</i>, for pioneering contributions in high performance parallel and
                distributed computational methods, data management, in-situ computing, and international leadership in
                cyberinfrastructure and translational computer science.
            </li>
            <li><b>2022: </b><i>Franck Cappello</i>, for his pioneering contributions in methods, tools, and testbeds
                for resilient high performance parallel and distributed computing.</li>
            <li><b>2021: </b><i>Rosa M. Badia</i>, for her innovations in parallel task-based programming models,
                workflow
                applications and systems, and leadership in the high performance computing research community.</li>
            <li><b>2020:</b> No award made.</li>
            <li><b>2019: </b><i>Geoffrey Fox</i>, for his foundational contributions to parallel computing,
                high-performance software, the interface between applications and systems, contributions to education,
                and outreach to underrepresented communities.</li>
            <li><b>2018: </b><i>Satoshi Matsuoka</i>, for his pioneering research in the design, implementation, and
                application of high performance systems and software tools for parallel and distributed systems.</li>
            <li><b>2017: </b><i>David Abramson</i>, for his pioneering research in the design, implementation, and
                application of high performance systems and software tools for parallel and distributed systems.</li>
            <li><b>2016: </b><i>Jack Dongarra</i>, for his long-standing and far-reaching contributions in high
                performance linear algebra and large-scale parallel and distributed computing.</li>
            <li><b>2015: </b><i>Ewa Deelman</i>, for her significant influence, contributions, and distinguished use of
                workflow systems in high-performance computing.</li>
            <li><b>2014: </b><i>Rich Wolski</i>, for pioneering and high-impact contributions to grid, cloud, and
                parallel computing.</li>
            <li><b>2013: </b><i>Miron Livny</i>, for his significant contribution and high impact in the area of
                high-throughput computing.</li>
            <li><b>2012: </b><i>Ian Foster</i>, for his initiative in the creation and development of grid computing and
                his significant contributions to high-performance distributed computing in support of the sciences.</li>
        </ul>
    </div>
</div>


