---
title: Call for Contributions
layout: page
mytype: GEN
slide_id: 2
---

<br>
<div class="row mt-2">
    <div class="col text-justify conference-text">
        <p class="lead">Call for Contributions</p>
        <h6>Overview</h6>
    </div>
</div>

<div class="row mt-2">
    <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6 col-xl-6 text-justify">
        <div class="conference-text">
            <p>{{site.data.calls.description}}
            <br><br>
            HPDC 2025 welcomes submissions of <strong> papers, posters, workshop and tutorial proposals, and award nominations.</strong>
            <br><br>
            <em>Calls for papers, posters, workshop and tutorial proposals, and award nominations will be made available in Fall 2024.</em>
            </p>

            <!--{% include contact-us.html %}-->
        </div>
    </div>

    <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6 col-xl-6 conference-text">
        {% include card-important-dates.html %}
        <!--{% include card-calls.html %}-->
    </div>
</div>
