---
title: Program
layout: page
slide_id: 4
---
<br>
<div class="row mt-xs-0 mt-sm-0 my-2">
    <div class="col conference-text text-muted">
        <div class="row">
            <div class="col-12">
                <div id="days" class="alert alert-success rounded text-center mx-3">
                    {% for day in site.data.program.schedule %}
                    <a class="h6 alert-link" href="#day{{forloop.index}}">Day {{ forloop.index }}</a>
                    {% if forloop.last %} {% else %} | {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>

        {% if site.data.program.schedule != nil %}
        {% for day in site.data.program.schedule %}
        <hr>
        <div>
            <div>
                <h4 id="day{{forloop.index}}" class="schedule-table-heading">
                    <a class="text-secondary" href="#">
                        <i class="fa-solid fa-arrow-up mr-2" aria-hidden="true"></i>
                    </a>
                    Day {{ forloop.index}} - {{ day.dateReadable }} ({{ day.location }})
                </h4>
            </div>
            <table class="table table-bordered table-hover table-sm">
                {% if day.type == "wst" %}
                <thead>
                    <tr>
                        <th class="w-25"></th>
                        <th colspan="3" class="bg-light text-center h6 align-middle"><a href='./workshops.html'>Workshops and Tutorials</a></th>
                    </tr>
                </thead>
                <tbody>
                    {% for timeslot in day.timeslots %}
                    <tr>
                        <td class="bg-light text-center h6 align-middle">
                            <div>{{timeslot.startTime}} - {{timeslot.endTime}}</div>
                        </td>
                        {% if timeslot.type == "service" %}
                        <td colspan=5 class="table-warning text-center align-middle">
                            <h6 class="text-center mb-1 mt-1">{{timeslot.title}}</h6>
                        </td>
                        {% elsif timeslot.type == "social" %}
                        <tr>
                        <td colspan=5 class="table-dark text-center align-middle">
                            <h6 class="text-light mb-1 mt-1">{{timeslot.title}}</h6>
                            {% if timeslot.text %}
                            <td width="20%" style="border: none">
                            </td>
                            <td colspan="2">
                                <p>timeslot.text</p>
                            </td>
                            {% endif %}
                        </td>
                        </tr>
                        {% else %}
                            {% for ws in timeslot.workshops %}
                            <td colspan=1 width="27%" class="text-center align-middle"><a href="{{ ws.link }}">{{ ws.name }}</a><br> Room: {{ ws.roomName }} </td>
                            {% endfor %}
       
                        {% endif %}

                    </tr>
                    {% endfor %}
                </tbody>
                {% else %}
                {% for timeslot in day.timeslots %}
                <thead>
                    <tr>
                        <th class="w-25 bg-light text-center h6 align-middle">
                            <div>{{timeslot.startTime}} - {{timeslot.endTime}}</div>
                        </th>
                        {% if timeslot.type == "service" %}
                        <th colspan="2" class="table-warning text-center align-middle">
                            <h6 class="text-center mt-1 mb-1">{{timeslot.title}}</h6>
                        </th>
                        {% elsif timeslot.type == "intro" %}
                        <th colspan="2" class="table-primary text-center align-middle">
                            <h5 class="text-center">{{timeslot.title}}</h5>
                            <p>General Chairs: <i>{{timeslot.generalChairs}}</i><br>
                                Program Chairs: <i>{{timeslot.programChairs}}</i></p>
                        </th>
                        {% elsif timeslot.type == "keynoteservice" %}
                        <th colspan="2" class="table-success text-center align-middle">
                            <h6 class="text-center mt-1 mb-1">{{timeslot.title}}</h6>
                        </th>
                        {% elsif timeslot.type == "indTalk" %}
                        <th colspan="2" class="table-info text-center align-middle">
                            <h5 class="text-center mt-1 mb-1">{{timeslot.title}}</h5>
                            <br>
                            {% for sponsor in timeslot.sponsors %}
                            <h5 class="text-center">{{sponsor.title_id}}{{sponsor.title}}</i></h5>
                            {% if sponsor.abstract %}
                            <details>
                                        <summary>Abstract</summary>
                                        {{sponsor.abstract}}
                            </details>
                            <div display="flex" align-items="center" justify-content="center">
                                <div>
                                    <img width="{{ sponsor.size }}" src="{{ sponsor.image }}" alt="{{ sponsor.altText }}">
                                </div>
                                <div>
                                    Speaker: <i>{{sponsor.speaker}}</i>
                                    <details>
                                        <summary>Biography</summary>
                                        {{sponsor.bio}}
                                    </details>
                                </div>
                            </div>
                            {% endif %}
                            <br>
                            {% endfor %}
                            
                        </th>
                        {% elsif timeslot.type == "lastservice" %}
                        <th colspan="2" class="table-warning text-center align-middle">
                            <h6 class="text-center mt-1 mb-1">{{timeslot.title}}</h6> <br>
                            {% for item in timeslot.items %}
                            <p>{{item.title}}</p>
                            {% endfor %}
                        </th>

                        {% elsif timeslot.type == "panelservice" %}
                        <th colspan="2" class="table-secondary text-center align-middle">
                            <h6 class="text-center mt-1 mb-1">{{timeslot.title}}</h6>
                            <p>Chair: <i>{{timeslot.chair}}</i></p>
                        {% elsif timeslot.type == "keynote" %}
                        <th colspan="2" class="table-success text-center align-middle">
                            <h5 class="text-center">{% if timeslot.prefixKeynote %}<u>{{timeslot.prefixKeynote}}</u> {% endif %}Keynote <i>{{timeslot.title}}</i></h5>
                            {% if timeslot.abstract %}
                                    <details>
                                        <summary>Abstract</summary>
                                        {{timeslot.abstract}}
                                      </details>
                            <p>

                            <div display="flex" align-items="center" justify-content="center">
                                <div>
                                    <img width="{{ timeslot.size }}" src="{{ timeslot.image }}" alt="{{ timeslot.altText }}">
                                </div>
                                <div>
                                    {% if timeslot.speaker %}
                                    Speaker: <i>{{timeslot.speaker}}</i> 
                                    {% endif %}
                                    {% if timeslot.bio %}<details>
                                        <summary>Biography</summary>
                                        {{timeslot.bio}}
                                      </details>
                                    {% endif %}
                                    {% if timeslot.chair %}
                                    <br>Session Chair: <i>{{timeslot.chair}}</i>
                                    {% endif %}
                                    
                                    
                                </div>
                       </div>
                            </p>
                                    {% endif %}
                        </th>
                        {% elsif timeslot.type == "social" %}
                        <th colspan="2" class="table-dark text-center align-middle">
                            <h6 class="text-light mb-1 mt-1">{{timeslot.title}}</h6>
                        </th>
                        {% elsif timeslot.type == "parallel" %}
                        {% for event in timeslot.events %}
                        <th class="table-{% cycle 'info', 'success' %} text-center align-middle">
                            <h6 class="text-center mb-1 mt-1">{{event.name}}</h6>
                            <i style="font-weight: normal !important">
                                {{event.location}}
                            </i>
                        </th>
                        {% endfor %}
                        {% else %}
                        <th colspan="2" class="table-info text-center align-middle">
                            <h5 class="text-center mb-1 mt-1">{{timeslot.title}}</h5>
                            {% if timeslot.chair %}
                            <p>Session Chair: <i>{{timeslot.chair}}</i></p>
                            {% endif %}
                        </th>
                        {% endif %}
                    </tr>
                </thead>
                {% if timeslot.submissions %}
                <tbody>
                    {% for submission_id in timeslot.submissions %}
                    {% assign submission = site.data.submissions.all | where : "id", submission_id | first %}
                    <tr>
                        <td width="20%" style="border: none">
                        </td>
                        <td colspan="2">
                            <p><b>{{submission.title}}</b></p>
                            {% if submission.authors %}
                            <p>
                                {% for author in submission.authors %}
                                {% if forloop.first %}
                                <i><b>Authors:</b></i> {% else %}, {% endif %}
                                <i>{{author.name}}</a>
                                    {% endfor %}
                            </p>
                            {% endif %}
                        </td>

                    </tr>
                    {% endfor %}
                </tbody>
                {% elsif timeslot.text %}
                    <tbody>
                    <tr>
                        <td width="20%" style="border: none">
                        </td>
                        <td colspan="2">
                            <p>{{timeslot.text}}</p>
                        </td>
                    </tr>
                </tbody>
                {% endif %}
                {% endfor %}
                {% endif %}
            </table>
        </div>
        {% endfor %}
        {% else %}
        <div class="alert alert-warning rounded text-center mx-3 my-5">
            TBA
        </div>
        {% endif %}



    <hr>
    <br>
    {% if site.data.program.showRawPaperList %}
    <h3 style="color:black"> Tentative List of Accepted Papers</h3>
    <p style="color:black"> We are happy to announce a tentative list of 25 accepted papers to the main conference! We are diligently working on program scheduling and will update this page with exact details as soon as possible. </p>
    {% for paper in site.data.program.rawPaperList %}
    <p style="color:black"> <b>{{paper.title}}</b> <br> 
    <i><b>Authors:</b> {{paper.authors}} </i></p>
    {% endfor %}
    {% endif %}


    </div>
</div>
