---
title: Registration
layout: page
slide_id: 6
---

<div class="row mt-xs-0 mt-sm-0 mt-md-1 mt-lg-2 mt-xl-3 mb-xs-2 mb-sm-2">
    <div class="col text-justify conference">
        <div>
            <h4>Registration</h4>
            {% if site.data.registration.closed %}
            <div class="alert alert-danger rounded text-center mx-3 my-3">
                <b class="h5">Registrations are closed.</b>
            </div>
            {% elsif site.data.registration.open_soon %}
            <div class="alert alert-danger rounded text-center mx-3 my-3">
                <b class="h5">Registrations will open shortly.</b>
            </div>
            {% else %}
            {% if site.data.registration.about %}
            <p>
                {{site.data.registration.about}}
            </p>
            {% endif %}
            {% endif %}

            <h4>What's Included in Registration</h4>
            <p>Conference registration includes all of the workshops and tutorials, the main conference speakers and technical sessions, meals and coffee breaks, and the evening poster session and conference dinner at the Studebaker museum. </p>
            <br>

            <h4>Registration Deadlines</h4>
            <p> Early Registration Deadline: <b>{{site.data.registration.deadline.early}}</b>.<br>
                Late Registration Deadline: <b>{{site.data.registration.deadline.late}}</b>.<br>
            <p><b class="text-warning">Note:</b>
                <b><i>We do not offer on-site registration.
                        All attendees must register online before the deadline.</i></b>
            </p>
            </p>
            <br>
            <h4>Registration Costs</h4>
            <table class="table table-bordered table-striped table-hover table-sm">
                <tr>
                    <th>Status</th>
                    <th>Early</th>
                    <th>Late</th>
                </tr>
                {% for r in site.data.registration.full %}
                <tr>
                    <td>{{r.status}}</td>
                    <td>{{r.early}} USD</td>
                    <td>{{r.late}} USD</td>
                </tr>
                {% endfor %}
            </table>
            <p><b class="text-warning">Note:</b>
                <b><i>Each technical paper in the main track of the conference must be accompanied by at least one regular conference registration by one of the authors.</i></b>
            </p>
            <br>

            {% if site.data.registration.visa %}
            <h4>Visa</h4>
            <p>
                {{site.data.registration.visa}}
            </p>
            {% endif %}
            <br>
            <h4>Registration site</h4>
            {% if site.data.registration.closed %}
            <div class="alert alert-danger rounded text-center mx-3 my-5">
                <b class="h5">Registrations are closed.</b>
            </div>
            {% elsif site.data.registration.open_soon %}
            <div class="alert alert-danger rounded text-center mx-3 my-3">
                <b class="h5">Registrations will open shortly.</b>
            </div>
            {% else %}
            {% if site.data.registration.about %}
            Please click the button below to start the registration process:
            <p>
                <center>
                    <button name="button" class="btn btn-success btn-lg shadowedbutton"
                        onclick="parent.open('{{site.data.registration.url}}')">HPDC Registration Site</button>
                </center>
            </p>
            {% endif %}
            {% endif %}      
            
        </div>
    </div>
</div>
