<div class="alert alert-primary" role="alert">
    <h5>Introducing Kizashi Talks at HPDC.</h5>

    We are introducing this unique technical program component this year at HPDC — <strong>Kizashi Talks</strong>
    (Kizashi means "early signs of great things to come" in Japanese). These talks are intended to put forward bold,
    unconventional, and forward-looking ideas that could reshape high-performance parallel and distributed computing
    over the next decade and beyond.
    <br><br>
    The invited speaker will present a compelling vision: an idea that is technically plausible, intellectually
    fresh, and capable of opening a new research direction for HPDC. These ideas will connect technology trends,
    emerging research advances, historical analogies, and broader implications—technical, social, economic, ethical,
    or environmental—and will spark discussion across the HPDC community.
    <hr>
    These talks will spark new debates or provide new dimensions to existing community debates — possibly, even
    divide the room in two sides, each with their own valid viewpoints.
</div>