<div class="card">
    <div class="card-header text-white bg-dark">
        <i class="fa-regular fa fa-solid fa-bullhorn mr-3" aria-hidden="true"></i></i><strong>Calls</strong>
    </div>
    <div class="card-block bg-light">
        <ul class="list-group list-group-flush">
            <li class="list-group-item bg-light text-muted"><a href="./calls-awards.html"> <i
                        class="fa-regular fa fa-solid fa-bullhorn" aria-hidden="true"> </i>
                Call for HPDC 2025 Achievement Award Nominations (submission deadline: February 28, 2025)</a></li>
            <li class="list-group-item bg-light text-muted"><a href="./calls-wst.html"> <i
                        class="fa-regular fa fa-solid fa-bullhorn" aria-hidden="true"> </i>
                Call for Workshops and Tutorials (submission deadline: December 9, 2024)</a></li>
                    </ul>
    </div>
</div>
