<div class="carousel-container">
    <h6>Photo Highlights</h6>
  <div class="image-wrapper">
    <img src="./assets/images/carousel/photo1.jpg" class="carousel-image" alt="Conference opening.">
    <img src="./assets/images/carousel/photo2.jpg" class="carousel-image" alt="Keynote speaker presenting.">
    <img src="./assets/images/carousel/photo3.jpg" class="carousel-image" alt="Feedback collection.">
    <img src="./assets/images/carousel/photo4.jpg" class="carousel-image" alt="Presenter focus.">
    <img src="./assets/images/carousel/photo5.jpg" class="carousel-image" alt="Audience asking questions.">
    <img src="./assets/images/carousel/photo6-best-poster.jpg" class="carousel-image" alt="Best poster award.">
    <img src="./assets/images/carousel/phot7-best-student-paper.jpg" class="carousel-image" alt="Best student paper award.">
    <img src="./assets/images/carousel/best_paper.jpg" class="carousel-image" alt="Best paper award.">
  </div>
  <button class="prev-btn">◀</button>
  <button class="next-btn">▶</button>
</div>
