<div class="">
    {% if site.data.conference.sponsors == nil %}
    {% include tba.html %}
    {% else %}
    {% for category in site.data.conference.sponsors %}
    {% if forloop.index != 1 %}
    <br><br>
    {% endif %}
    <p class="h6" style="color:{{ category.color }}">{{ category.display }}</p>
    {% if category.list %}
    {% for sponsor in category.list %}
    {% if sponsor.code == "gold" %}
    {% assign img_width = 60 %}
    {% elsif sponsor.code == "silver" %}
    {% assign img_width = 30 %}
    {% elsif sponsor.code == "bronze" %}
    {% assign img_width = 25 %}
    {% else %}
    {% assign img_width = 25 %}
    {% endif %}
    <a href="{{ sponsor.link }}"><img class="mr-auto d-inline-block mb-2 mt-2 pr-3" src="{{ sponsor.logo }}" alt="{{ sponsor.name }}"
            width="{{ img_width }}%" height="auto"></a>
    {% endfor %}
    {% else %}
    {% include tba.html %}
    {% endif %}
    {% endfor %}
    {% endif %}

</div>
